\venv

/outputs/*
!/outputs/.gitkeep

/experiments/*
!/experiments/.gitkeep
.vscode

__pycache__/
*.py[cod]

notes.txt

/datasets/*
!/datasets/.gitkeep

/notebooks/outputs/*
!/notebooks/outputs/.gitkeep